{% include 'menu.html' %}

<link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous">

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-md-10">

                    <div class="contenedor__login-register">
                        <div class="container">
                            <h1>Modificar Trabajo</h1>

                            {% if mensaje1 %}
                            <div class="alert alert-success" role="alert">
                                {{ mensaje1 }}
                            </div>
                            {% endif %}

                            {% if mensaje2 %}
                            <div class="alert alert-danger" role="alert">
                                {{ mensaje2 }}
                            </div>
                            {% endif %}

                            <form action="/modificar_trabajo/{{ trabajo.id }}"
                                method="POST" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="NuevoNombreTrabajo">Nuevo Nombre
                                        del Trabajo*</label>
                                    <input type="text" name="NuevoNombreTrabajo"
                                        class="form-control"
                                        value="{{ trabajo.Nombre_trabajo }}"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="NuevoTipoTrabajo">Nuevo Tipo de
                                        Trabajo*</label>
                                    <select name="NuevoTipoTrabajo"
                                        class="form-control" required>
                                        <option value="Plan de negocio" {% if
                                            trabajo.tipo_trabajo ==
                                            'Plan de negocio' %}selected{% endif
                                            %}>Plan de negocio</option>
                                        <option value="Word Paper" {% if
                                            trabajo.tipo_trabajo == 'Word Paper'
                                            %}selected{% endif %}>Word Paper</option>
                                        <!-- Agrega más opciones según tus tipos de trabajo -->
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="NuevasObservaciones">Nuevas
                                        Observaciones</label>
                                    <input type="text"
                                        name="NuevasObservaciones"
                                        class="form-control"
                                        value="{{ trabajo.observaciones }}">
                                </div>
                                <div class="form-group">
                                    <label for="nuevo_pdf">Nuevo Archivo PDF
                                        (opcional)</label>
                                    <input type="file" name="nuevo_pdf"
                                        accept=".pdf" class="form-control-file">
                                </div>
                                <button type="submit" class="btn btn-primary">Guardar
                                    Cambios</button>
                            </form>
                        </div>

                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
        </div>
        <!-- /.content-wrapper -->